.ohanachat {position: fixed;
  float: right;
  right: 0;
  top: 0;
  bottom: 0;
  width: 24%;
  z-index: 10;
}

.modchat {
position: fixed;
float: left;
right: 0;
left: 0;
top: 0;
bottom: 0;
width: 24%;
z-index: 10;
}

.video {
align: center; 
position: relative; 
top: 0; 
bottom: 0; 
left: 0; 
right: 0; 
z-index: 10; 
width: 52%;
}

.moderatorinfo {
  width: 640px; 
  position: relative; 
  top: 0; 
  bottom: 0; 
  left: 400px; 
  right: 400px; 
  z-index: -10; 
  overflow: hidden;
}

.warning {
  color: red; 
  text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif
} 

h2 {
    font-family: Arial, Helvetica, sans-serif
} 
h3 {
    font-family: Arial, Helvetica, sans-serif
} 
h4 {
    font-family: Arial, Helvetica, sans-serif
} 

